@import "nav";

#about-title {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10vh;
}

.about-container{
    height: 100vh;
    .about-content {
        height: 100%;
        display: flex;
        align-content: center;
        margin: 5% 5% 5% 5%;
        color: khaki;
    }
    .profile-pic {
        height: 300px;
        width: 300px;
        margin: 0px inherit 0px 0px;
        border-radius: 10px;
        box-shadow: 5px 15px 25px black;
        align-self: center;
        justify-content: space-evenly;
    }
    p {
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

}   

