
.about-container{
    .about-content {
        display: flex;
        align-content: center;
        margin: 10% 5% 10% 5%;
        color: $yellow;
    }
    .profile-pic {
        height: 300px;
        width: 300px;
        margin: 0px inherit 0px 0px;
        border-radius: 10px;
        box-shadow: 5px 15px 25px black;
    }
    
.about-text {
        display: flex;
        align-items: center;
        margin: 0;
        margin: 5%; 
        font-size: 2vh;
    }
}   

@media screen and (max-width: 420px) {
    .about-container {
        @include flexColumn; 
            .about-content {
                margin: 0 0 5% 0; 
                @include flexColumn;
            }
            .profile-pic {
                margin: 5% 0 0 5%;
                height: 40%;
                width: 60%
            }
    }
}
