#blog-heading {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10vh;
}
#blog-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 5%;
    .blog-titles {
        width: 60%;
        display: flex;
        align-items:center;
        margin: 20px 0 20px 120px;
    }
    .blog-thumbnail {
        height: 30vh;
        border-style: solid;
        border-radius: 5px;
        border-color: #d1e8e2;
        box-shadow: 5px 10px 20px black; 
    }
    a {
        color: white;
        padding: 0 0 0 50px;
        font-size: 4vh;
     }
}

#blog-posts a:link {
    text-decoration: none;
}

#blog-posts a:hover {
    color:#ffcb9a;
}




