@import "nav";

#projects-title {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10vh;
    font-weight: bold;
}

.project-container {
    height: 100vh;
// Project picture style
    .project-images {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        align-self: center;
        
        height: 70vh;
        // overflow: scroll;
    }
    .projects  {
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 10vw;
    }
    .project-thumbnails {
        height:150px;
        width: 150px;
        border-radius: 10px;
        box-shadow: 5px 15px 25px black;
    }
    h5 {
        text-align: center;
    }
}



