
#projects-title {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 10vh;
    font-weight: bold;
}

.project-container {
    height: 100vh;
// Project picture style
    .project-images {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        align-self: center;
        height: 100vh;
    }
    .projects  {
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 10vw;
    }
    .project-thumbnails {
        height:300px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 5px 10px 15px black;
    }
    h5 {
        font-size: 1.5vw;
        text-align: center;
    }
}

.projects a:link {
    text-decoration: none;
    color: blanchedalmond;
}

.projects a:visited {
    text-decoration: none;
    color: #ffcb9a;
}

// .projects:hover {

// }
// .projects:active {

// }