
.project-container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
     .projects  {
         margin: 5%;
        .project-thumbnails {
            @include flexCenterColumn;
            margin: 5%;
            height:300px;
            width: 300px;
            border-radius: 20px;
            border-style:solid;
            box-shadow: 5px 15px 25px black;
        }
        h5 {
            font-size: 3vh;
            text-align: center;
        }
    } 
}

.projects > a:link {
    text-decoration: none;
    color:$lightGreen;
}
.projects > a:visited {
    text-decoration: none;
    color: $lightGreen;
}

@media  screen and (max-width:420px) {
    .project-thumbnails{
            width: 150px !important;
            height: 150px !important;
        }
}

