html {
  background: url(/img/code06.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: center;
  background-attachment: fixed;
  background-size: cover; }

body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Roboto', sans-serif;
  backdrop-filter: blur(10px); }

.title-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .title-heading .name-title {
    color: white;
    font-weight: bold;
    font-size: 6vw;
    margin: 15px 0 0 0; }
  .title-heading .dev-title {
    color: white;
    font-weight: bold;
    font-size: 3vw;
    margin: 0 0 10px 0; }

.home-nav-bar {
  font-size: 25px;
  font-weight: bold; }
  .home-nav-bar nav {
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }

nav a:link {
  color: red;
  text-decoration: none;
  padding: 1% 2% 1% 2%; }

nav a:visited {
  color: blue; }

nav a:hover {
  color: khaki;
  background-color: #bab7c4;
  opacity: 0.1;
  border-radius: 8px;
  box-shadow: inherit white; }

nav a:active {
  color: purple; }

footer {
  height: 10vh;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.nav-bar {
  font-size: inherit; }
  .nav-bar nav {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold; }

nav a:link {
  color: red;
  text-decoration: none;
  padding: 1% 2% 1% 2%; }

nav a:visited {
  color: blue; }

nav a:hover {
  color: khaki;
  background-color: #544e6d;
  opacity: 0.6;
  border-radius: 8px;
  box-shadow: inherit white; }

nav a:active {
  color: #00ff73; }

#about-title {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh; }

.about-container {
  height: 100vh; }
  .about-container .about-content {
    height: 100%;
    display: flex;
    align-content: center;
    margin: 5% 5% 5% 5%;
    color: khaki; }
  .about-container .profile-pic {
    height: 300px;
    width: 300px;
    margin: 0px inherit 0px 0px;
    border-radius: 10px;
    box-shadow: 5px 15px 25px black;
    align-self: center;
    justify-content: space-evenly; }
  .about-container p {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%; }

.nav-bar {
  font-size: inherit; }
  .nav-bar nav {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold; }

nav a:link {
  color: red;
  text-decoration: none;
  padding: 1% 2% 1% 2%; }

nav a:visited {
  color: blue; }

nav a:hover {
  color: khaki;
  background-color: #544e6d;
  opacity: 0.6;
  border-radius: 8px;
  box-shadow: inherit white; }

nav a:active {
  color: #00ff73; }

#blog-heading {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh; }

#blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }
  #blog-posts .blog-titles {
    color: white;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0; }
  #blog-posts .blog-thumbnail {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffcb9a;
    box-shadow: 2px 4px 6px #ffcb9a; }
  #blog-posts a {
    color: white;
    padding: 0 0 0 20px; }

.nav-bar {
  font-size: inherit; }
  .nav-bar nav {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold; }

nav a:link {
  color: red;
  text-decoration: none;
  padding: 1% 2% 1% 2%; }

nav a:visited {
  color: blue; }

nav a:hover {
  color: khaki;
  background-color: #544e6d;
  opacity: 0.6;
  border-radius: 8px;
  box-shadow: inherit white; }

nav a:active {
  color: #00ff73; }

#projects-title {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh;
  font-weight: bold; }

.project-container {
  height: 100vh; }
  .project-container .project-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-self: center;
    height: 70vh; }
  .project-container .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 10vw; }
  .project-container .project-thumbnails {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 5px 15px 25px black; }
  .project-container h5 {
    text-align: center; }

.nav-bar {
  font-size: inherit; }
  .nav-bar nav {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold; }

nav a:link {
  color: red;
  text-decoration: none;
  padding: 1% 2% 1% 2%; }

nav a:visited {
  color: blue; }

nav a:hover {
  color: khaki;
  background-color: #544e6d;
  opacity: 0.6;
  border-radius: 8px;
  box-shadow: inherit white; }

nav a:active {
  color: #00ff73; }

#contact-title {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh; }

.form-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .form-container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
  .form-container label {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }

/*# sourceMappingURL=main.css.map */
