@import url(../css/blog-posts.css);
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background: #116466;
  background: radial-gradient(circle, #116466 0%, #181919 87%);
  background-repeat: no-repeat;
  background-attachment: fixed; }

.title-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }
  .title-heading .name-title {
    color: #d1e8e2;
    font-weight: bold;
    font-size: 100px;
    margin: 15px 0 0 0; }
  .title-heading .dev-title {
    color: #d1e8e2;
    font-weight: bold;
    font-size: 3vw;
    margin: 0 0 10px 0; }

.home-nav-bar {
  font-size: 25px; }
  .home-nav-bar nav {
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer .social-icons {
    margin: 0 0 0 5%; }
  footer .social-icons img {
    background: #d1e8e2;
    border-style: solid;
    border-color: #d1e8e2;
    border-radius: 5px;
    height: 4vh; }
  footer .copyright {
    display: flex;
    justify-content: flex-end;
    color: #d1e8e2;
    font-size: 2vh;
    margin: 0; }
  footer .resume {
    font-size: 2vh; }

.nav-index a:link {
  background-color: #116466;
  border-style: ridge;
  border-radius: 10px;
  color: #d1e8e2;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  width: 120px;
  padding: 1% 2% 1% 2%; }

.nav-index a:visited {
  text-decoration: none;
  color: #d1e8e2; }

.nav-index a:hover {
  color: #ffcb9a;
  border-color: #ffcb9a;
  transition: 0.2s;
  transform: scale(1.5); }

.resume a:link {
  color: #ffcb9a !important;
  text-decoration: none; }

.resume a:visited {
  color: #ffcb9a !important; }

.resume a:active {
  color: #ffcb9a !important; }

@media screen and (max-width: 420px) {
  body {
    margin: 0;
    padding: 0; }

  .title-heading {
    margin-bottom: 0; }
    .title-heading .name-title {
      font-size: 10vw; }

  h2 {
    display: flex;
    flex-direction: column; } }
#about-title {
  margin: 20px 0 20px 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh; }

.about-container .about-content {
  display: flex;
  align-content: center;
  margin: 10% 5% 10% 5%;
  color: #d9b08c; }
.about-container .profile-pic {
  height: 300px;
  width: 300px;
  margin: 0px inherit 0px 0px;
  border-radius: 10px;
  box-shadow: 5px 15px 25px black;
  align-self: center;
  justify-content: space-evenly; }
.about-container .about-text {
  display: flex;
  align-items: center;
  margin: 0;
  margin: 5%;
  font-size: 2vh; }

@media screen and (max-width: 420px) {
  .about-container {
    display: flex;
    flex-direction: column; }
    .about-container .about-content {
      margin: 0 0 5% 0;
      display: flex;
      flex-direction: column; }
    .about-container .profile-pic {
      margin: 5% 0 0 5%;
      height: 40%;
      width: 60%; } }
#blog-heading {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh; }

#blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 5%; }
  #blog-posts .blog-titles {
    width: 60%;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 120px; }
  #blog-posts .blog-thumbnail {
    height: 30vh;
    border-style: solid;
    border-radius: 5px;
    border-color: #d1e8e2;
    box-shadow: 5px 10px 20px black; }
  #blog-posts a {
    color: white;
    padding: 0 0 0 50px;
    font-size: 4vh; }

#blog-posts a:link {
  text-decoration: none; }

#blog-posts a:hover {
  color: #ffcb9a; }

@media screen and (max-width: 420px) {
  #blog-posts {
    margin-top: 10%; }
    #blog-posts .blog-titles {
      display: flex;
      flex-direction: column;
      margin: 0; }
    #blog-posts a:link {
      width: 90%;
      padding: 0; } }
#projects-title {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh;
  font-weight: bold; }

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .project-container .projects {
    margin: 5%; }
    .project-container .projects .project-thumbnails {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 5%;
      height: 300px;
      width: 300px;
      border-radius: 20px;
      border-style: solid;
      box-shadow: 5px 15px 25px black; }
    .project-container .projects h5 {
      font-size: 3vh;
      text-align: center; }

.projects > a:link {
  text-decoration: none;
  color: blanchedalmond; }

.projects > a:visited {
  text-decoration: none;
  color: #ffcb9a; }

@media screen and (max-width: 420px) {
  .project-thumbnails {
    width: 150px !important;
    height: 150px !important; } }
#contact-title {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10vh; }

.form-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .form-container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
  .form-container label {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }

.nav-bar {
  margin-bottom: 5%; }
  .nav-bar nav {
    height: 5%;
    margin-bottom: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }

.nav-bar a.active {
  color: #ffcb9a;
  border-color: #ffcb9a;
  box-shadow: 2px 4px 6px #ffcb9a; }

.nav-bar a:link {
  background-color: #116466;
  border-style: ridge;
  border-radius: 10px;
  border-color: #d1e8e2;
  border-width: medium;
  text-decoration: none;
  color: #d1e8e2;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  width: 130px;
  padding: 1vh 2vh 1vh 2vh; }

.nav-bar a:visited {
  text-decoration: none;
  color: #d1e8e2; }

.nav-bar a:hover {
  color: #ffcb9a;
  border-color: #ffcb9a;
  transition: 0.2s;
  transform: scale(1.2); }

@media screen and (max-width: 420px) {
  .nav-bar nav {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  nav a {
    margin-bottom: 5px; } }
.project-page-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70vw;
  margin: auto;
  margin-bottom: 2.5%; }
  .project-page-container .project-pictures {
    margin: 0 1%  1%; }
  .project-page-container .project-pictures > img {
    height: auto;
    width: 20vw;
    margin: 1%;
    border-style: outset;
    border-color: #5f5d5b;
    border-radius: 10px; }

.project-heading {
  display: flex;
  justify-content: center;
  color: #d9b08c;
  text-shadow: 5% 10% black; }

.project-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 61vw 1% 0; }

.project-pictures:hover {
  transition: 0.2s;
  transform: scale(1.4); }

/*# sourceMappingURL=main.css.map */
